@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli.ttf');
}

@font-face {
    font-family: 'MuliSemibold';
    src: url('../fonts/Muli-SemiBold.ttf');
}

nav {
    display: flex;
    justify-content: center;
    background: #E0E0E0;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.menu_principal {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    width: 90%;
}

.opciones {
    display: flex;
    align-items: center;
}

.opciones img {
    width: 45px;
    object-fit: contain;
    margin-right: 4rem;
}

.opciones a {
    color: #000;
    text-decoration: none;
    font-family: 'Muli';
    font-size: 0.7rem;
}

.opciones a:not(:first-child) {
    margin-right: 2rem;
}

.opciones a span:hover {
    border-bottom: 1px solid #000;
}

.redes {
    display: flex;
    align-items: center;
}

.redes a {
    text-decoration: none;
}

.redes a:first-child {
    margin-right: 2.5rem;
}

.sociales {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.full-screen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(20%);
    position: relative;
}

.full-screen video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content p {
    color: #fff;
    margin: 0;
    text-align: center;
}

.banner_p {
    font-family: 'MuliSemibold';
    font-size: 2.5rem;
}

.banner_s {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1rem;
    font-size: 1.5rem;
}

.btn_movil {
    display: none;
}

.menu_movil {
    background: #E0E0E0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 98;
}

.menu_movil a {
    color: #000;
    text-decoration: none;
    font-family: 'Muli';
    margin: 1.5rem 0;
}

.oculto {
    display: none;
}

.seccionuno {
    padding: 6rem 0;
}

.banner_seccion {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.bannerdos_seccion {
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.banner_seccion span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.info_seccion {
    padding: 2rem 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.6rem;
}

.info_seccion_dos {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.6rem;
}

.raya_gruesa {
    width: 100px;
    object-fit: contain;
}

.raya_blanca {
    margin-top: 4rem;
    width: 125px;
    object-fit: contain;
}

.botonera {
    display: flex;
    padding-top: 2rem;
}

.botonera a {
    display: flex;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    margin-right: 2rem;
}

.botonera a img {
    width: 40px;
    margin-right: 1rem;
    transition: .4s;
}

.botonera a:hover img {
    transform: rotate(45deg);
}

.botonera_tres {
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.botonera_tres .enlace {
    cursor: pointer;
    display: flex;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    margin-right: 1rem;
}

.botonera_tres .enlace img {
    width: 40px;
    margin-right: 1rem;
    transition: .4s;
}

.botonera_tres .enlace:hover img {
    transform: rotate(45deg);
}

.slid img {
    display: block;
    height: 460px;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
}

.secciondos {
    color: #fff;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
}

.datos {
    display: flex;
    justify-content: flex-end;
}

.datos_info {
    display: flex;
    flex-direction: column;
}

.espacio {
    margin-left: 5rem;
}

.numero {
    margin: 0;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: right;
}

.descripcion {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.centrados {
    text-align: center;
    padding-bottom: 2.5rem;
}

.secciontres {
    padding: 5rem 0;
}

.san_gabriel {
    width: 100%;
    height: 500px;
    background-image: url(../img/12.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.san_gabriel div {
    padding: 3rem;
}

.san_gabriel h2 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
}

.san_gabriel p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

.centro {
    display: none;
}

.san {
    display: none;
}

.texto_final {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_final img {
    width: 70%;
    height: auto;
}

.texto_final a {
    margin-top: 1.5rem;
    color: #000;
    border: 1px solid #000;
    background: #fff;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.3s;
}

.texto_final a:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}

.texto_final hr {
    display: none;
}

.foot {
    padding: 5rem 0;
    color: #fff;
    background-image: url(../img/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img_logo {
    width: 70px;
}

.texto-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5rem;
    padding-top: 1.5rem;
}

.botonera_dos {
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.botonera_dos p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-top: 1rem;
}

.botonera_dos a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-right: 3rem;
}

.botonera_dos a img {
    width: 40px;
    margin-right: 2rem;
    transition: .4s;
}

.botonera_dos a:hover img {
    transform: rotate(45deg);
}

.derechos {
    padding-top: 10rem;
    width: 100%;
}

.derechos img {
    width: 100%;
}

.info_derechos {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.info_derechos p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.info_derechos a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.copy {
    display: none;
}

.banner_paginas {
    /*Cambiar en mobile*/
    padding: 18rem 0 12rem 6rem;
    background-image: url(../img/nosotros.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner_paginas_tres {
    /*Cambiar en mobile*/
    padding: 18rem 0 12rem 6rem;
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner_paginas_cuatro {
    /*Cambiar en mobile*/
    padding: 18rem 0 12rem 6rem;
    background-image: url(../img/portafolio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner_paginas_dos {
    /*Cambiar en mobile*/
    padding: 18rem 0 12rem 6rem;
    background-image: url(../img/metodologia.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner_texto_uno {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.4rem;
}

.especial_tres {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.raya_secciones {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.conceptocero {
    padding: 7rem 0;
}

.conceptocero_dos {
    padding: 0 0 7rem 0;
}

.conceptocero_tres {
    padding: 4rem 0 7rem 0;
}

.titulo_seccion_uno {
    padding-bottom: 5rem;
}

.titulo_seccion_uno h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 2.3rem;
}

.titulo_seccion_uno img {
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 8px;
    margin-top: 1rem;
    object-fit: cover;
}

.titulo_seccion_dos {
    padding-bottom: 5rem;
}

.titulo_seccion_dos h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 2.3rem;
}

.titulo_seccion_dos img {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 8px;
    margin-top: 1rem;
    object-fit: cover;
}

.titulo_seccion_tres {
    padding-bottom: 5rem;
}

.titulo_seccion_tres h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 2.3rem;
}

.titulo_seccion_tres img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 8px;
    margin-top: 1rem;
    object-fit: cover;
}

.origen,
.mision {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

.descripcion_jbl {
    line-height: 1.5rem;
    text-align: justify;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.parhers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parhers img {
    display: block;
    width: 200px;
    object-fit: cover;
    transition: .4s;
}

.parhers img:hover {
    transform: scale(1.3);
}

.blackt {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.equipoteam_dos {
    display: flex;
    justify-content: start;
}

.equipoteam {
    display: flex;
    justify-content: center;
}

.equipo {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 1.3rem 6rem 1.3rem;
}

.equipo img {
    width: 100%;
    min-width: 200px;
    object-fit: cover;
    transition: .4s;
}

.equipo p {
    margin: 0;
}

.nombre-equipo {
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.nombre-descp {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.equipo img:hover {
    filter: opacity(80%);
}

.banner_texto_dos {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    display: block;
    width: 50%;
    font-size: 13px;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.como {
    padding: 6rem 0;
}

.como_dos {
    padding: 3rem 0 6rem 0;
}

.como_desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 1.5rem;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.6rem;
}

.entrada h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.entrada p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.ilustracion_web {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ilustracion_web img {
    width: 90%;
    padding-right: 2.5rem;
}

.nuestros_clientes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nuestros_clientes_dos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nuestros_clientes_dos img {
    width: 200px;
    object-fit: cover;
    padding: 1rem 0;
    transition: .4s;
}

.nuestros_clientes_dos img:hover {
    transform: scale(1.2);
}

.nuestros_clientes img {
    width: 200px;
    object-fit: cover;
    padding: 1rem 0;
    transition: .4s;
}

.nuestros_clientes img:hover {
    transform: scale(1.2);
}

.div_proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.imagenes_proyectos {

    width: 300px;
    height: 200px;
    margin: 0.1rem;
    position: relative;
    z-index: 1;
}

.imagenes_proyectos img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.imagenes_proyectos p {
    position: absolute;
    margin: 0;
    bottom: 25px;
    left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: none;
    color: #fff;
    z-index: 3;
}

.gradiente {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    z-index: 3;
    transition: 0.2s;
}

.imagenes_proyectos:hover .gradiente {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
    z-index: 3;
}

.imagenes_proyectos:hover p {
    display: block;
}

.info-proyectos {
    padding: 8rem 0 6rem 0;
}

.slider-nuevo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content .images {
    height: 100%;
    width: 100%;
}

.images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-sliders {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-sliders span {
    display: inline-block;
    width: 23px;
    height: 3px;
    background: white;
    margin: 0 3px;
    cursor: pointer;
    transition: .3s;
}

.btn-sliders span:hover {
    height: 5px;
}

.content .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    background: rgba(0, 0, 0, .31);
    cursor: pointer;
    transition: 0.3s;
}

.content .slide:hover {
    background: rgba(255, 255, 255, 0.2);
}

.slide span {
    font-size: 10px;
    color: white;
    line-height: 41px;
}

.content .left {
    left: 10px;
}


.content .right {
    right: 10px;
}

.imagenes_muestra {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.agrandar {
    cursor: pointer;
    overflow: hidden;
    width: 33%;
    height: 225px;
    object-fit: cover;
    position: relative;
}

.agrandar img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
    transition: 0.3s;
}

.agrandar:hover .gradiente {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .31);
    z-index: 3;
}

.agrandar:hover img {
    transform: scale(1.15);
}

.nombre_proye{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.cat_proye{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5rem;
}

.cat_proye span{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.limitado{
    width: 700px;
}

.descripcion_proye{
    margin-top: 3rem;
}

@media only screen and (max-width: 815px) {

    .limitado{
        width: 100%;
    }

    .imagenes_muestra {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .agrandar {
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        height: 190px;
        object-fit: cover;
        position: relative;
        margin-bottom: 1rem;
    }
    

    .nuestros_clientes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nuestros_clientes_dos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nuestros_clientes_dos img {
        width: 200px;
        object-fit: cover;
        padding: 0;
    }

    .nuestros_clientes img {
        width: 200px;
        object-fit: cover;
        padding: 0;
    }

    .ilustracion_web {
        display: none;
    }

    .titulo_seccion_dos img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 8px;
        margin-top: 1rem;
        object-fit: cover;
    }

    .titulo_seccion_tres img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 8px;
        margin-top: 1rem;
        object-fit: cover;
    }


    .banner_texto_dos {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: left;
        display: block;
        width: 100%;
        font-size: 13px;
        margin-top: 1rem;
        line-height: 1.5rem;
    }

    .equipoteam_dos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .equipoteam {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .equipo {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 1.3rem 6rem 1.3rem;
    }
}

@media only screen and (max-width: 768px) {
    .desaparecer{
        display: none;
    }

    .content {
        height: 250px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .div_proyectos {
        align-items: unset;
        flex-direction: column;
        justify-content: center;
    }

    .imagenes_proyectos {
        width: 100%;
        height: 225px;
        margin: 0.1rem;
    }

    .parhers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .estudio {
        margin: 5rem 0 2.5rem 0;
    }

    .titulo_seccion_uno h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-align: center;
        font-size: 1.7rem;
    }

    .titulo_seccion_dos h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-align: center;
        font-size: 1.7rem;
    }

    .titulo_seccion_tres h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-align: center;
        font-size: 1.5rem;
    }

    .banner_paginas {
        /*Cambiar en mobile*/
        padding: 16rem 0 10rem 0;
        background-image: url(../img/nosotros.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .banner_paginas_cuatro {
        /*Cambiar en mobile*/
        padding: 16rem 0 10rem 2rem;
        background-image: url(../img/portafolio.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .banner_paginas_tres {
        /*Cambiar en mobile*/
        padding: 16rem 0 10rem 0;
        background-image: url(../img/contacto.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .banner_paginas_dos {
        /*Cambiar en mobile*/
        padding: 16rem 0 10rem 0;
        background-image: url(../img/metodologia.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .banner_texto_uno {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 1.7rem;
    }

    .raya_secciones {
        width: 100px;
        height: auto;
        object-fit: contain;
    }

    .foot {
        background-image: none;
        padding: 5rem 0;
        background: #1B1B1B;
        color: #fff;
    }

    .copy {
        background: #292727;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
    }

    .copy span {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
    }

    .redes {
        display: none;
    }

    .opciones a {
        display: none;
    }

    .btn_movil {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_movil img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        cursor: pointer;
    }

    .banner_p {
        font-size: 1.5rem;
    }

    .banner_s {
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }

    .slid img {
        width: 100%;
        height: auto;
        margin-bottom: 2.5rem;
    }

    .info_seccion {
        text-align: justify;
        font-size: 0.9rem;
    }

    .botonera {
        display: flex;
        flex-direction: column;
    }

    .botonera a {
        margin-bottom: 1.5rem;
    }

    .botonera_tres {
        display: flex;
        flex-direction: column;
    }

    .botonera_tres .enlace {
        margin-bottom: 1rem;
    }

    .botonera_dos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botonera_dos a {
        margin-bottom: 1.5rem;
        display: none;
    }

    .botonera_dos p {
        padding: 1rem;
    }

    .raya_blanca {
        display: none;
    }

    .info_seccion_dos {
        padding: 2rem 0;
    }

    .datos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .espacio {
        margin-left: 0rem;
    }

    .numero {
        margin: 0;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-align: left;
    }

    .descripcion {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.9rem;
    }

    .secciondos {
        padding: 3rem 0;
    }

    .san_gabriel div {
        display: none;
    }

    .san_gabriel {
        width: 100%;
        height: 300px;
    }

    .texto_final img {
        display: none;
    }

    .texto_final hr {
        display: block;
        width: 100%;
    }

    .centro {
        display: block;
        padding-top: 2rem;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .san {
        display: block;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }

    .derechos img {
        height: 20px;
        object-fit: contain;
    }

    .derechos {
        padding-top: 0rem;
        width: 100%;
    }

    .info_derechos p {
        display: none;
    }

    .info_derechos {
        padding-top: 1rem;
        display: flex;
        justify-content: center;

    }

    .img_logo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70px;
    }

    .texto-footer {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5rem;
        padding-top: 2rem;
        text-align: center;
    }

}